<!DOCTYPE html>
<html lang="zh-cn" ng-app="text" ng-cloak>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="Author" content="PageAdmin CMS" />
  <meta name="keywords" content="人力资源, 找工作"/>
  <meta name="description" content="人力资源"/>
	<title></title>
	<!--bootstrap样式-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<!--响应式滚动图片样式-->
	<link href="owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="owl-carousel/venobox.css" rel="stylesheet">
  <script type="text/javascript" src="js/angular.min.js"></script>

	<!--自定义CSS样式-->
	<link href="css/style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/ie.js"></script>
    <![endif]-->

	<script type="text/javascript">
	  window.matchMedia || document.write('<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"><\/script>');
	</script>
	</head>
	<body>
<!--[start of header]-->

<UL ng-controller="cont1">

  <li ng-repeat="updue in k">
    <h3>{{updue.name}}</h3>
    <span>{{updue.price|currency}}</span>

    <i>{{updue.time|date:"yyyy年MM月dd日 HH:mm:ss"}}</i>

  </li>

</UL>


<script type="text/javascript">
   
   var app = angular.module('text',[]);

     app.controller('cont1',function($scope){
     
       $scope.k=[

        {name:'的看法的说法独守空房收到覅',price:99,time:1497281544494},
        {name:'KSDAASFSAFASFALSFASLFSA',price:89,time:1497281594494}

       ];

     });



</script>






<!--  <div ng-controller="HelloController" >
 <input type="text" name="" ng-model="str">
 <input type="button" name="" value="按钮" ng-click="haibo(str)">
</div>

 <div ng-controller="h1" >
 <input type="text" name="" ng-model="str">
 <input type="button" name="" value="按钮" ng-click="haibo(str)"> -->

</div>

      <script>
        // var ss = angular.module("myapp", [])
        // ss.controller("HelloController", function($scope) {
        //    $scope.haibo=function (w) {
        //      // body...

        //      window.alert(w);
        //    }

           
        //  });

        //  ss.controller("h1", ['$scope',function(d) {
        //    d.haibo=function (w) {
        //      // body...

        //      window.alert(w);
        //    }

           
         // }]);

// var age=25;
//     age>=18 ? 
//         (
//             age<=35 ? alert("你还年轻，未来属于你！") : alert("35岁以后，就要注意身体了！ ")
//         ) :
         
//         alert("你还未成年！");
    


      </script>







    <!--[start of top]-->
<div class="hader_nav_bg">
<header id="header">
    <div class="container">
      <div class="hader">
        <span class="coa">Coach.Corp </span>
        <span class="color_11">Helps Your Business Grow</span>
         
      </div>
    </div><!--/.container-->
    <!--[end of top]-->
  </header>
  <!--[end of header]--> 

    <!--[start of nav]--> 
    <div id="nv">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9"> 
          <!--<span class="sr-only">Toggle navigation</span>--> 
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a href="#"></a> </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
           <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="Our Team.html">Our Team</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="Clients.html">Clients</a></li>
                    <li><a href="News.html">News</a></li>
                    <li><a href="Video Tips.html">Video Tips</a></li>
                    <li><a href="#"class="dropdown-toggle" data-toggle="dropdown"   role="button" >Contact</a>
                       <ul class="dropdown-menu" role="menu">
                         <li><a href="Contact.html">Contact</a></li>
                         <li><a href="FAQ.html">FAQ</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
          </div>
      </div>
      </nav>
  </div>
   <!--[end of nav]-->
</div><!--/.hader_nav_bg-->
  <div class="container">
    <div class="row top hidden-xs">
      <div class="left-ico float-left-991"><img src="img/left.png" alt="" title=""/></div>
      
      <div class="right-ico float-right-991"><img src="img/right.png" alt="" title=""/></div>
    </div>
  </div><!--/.container-->
<!--centent stat-->
  <div class="centent" id="padd-bum-0">
    <div class="container">
    <div class="Middle_upper_half_step row">
     <div class="col-sm-4">
       <div class="box">
        <h5>We are here to help!</h5>
        <div class="line"></div>
          <ul>
            <li><a href="#">Meet The Team</a></li>
            <li><a href="#">PAQ</a></li>
            <li><a href="#">What We Offer</a></li>
            <li><a href="#">Guides & Tips</a></li>
          </ul>
         <button class="center"  onclick="JavaScript:window.location.href='Contact.html';" type="button">Make an Appointment</button>
       </div>
     </div>
     <div class="col-sm-8">
      <div class="right-banner">
   <div id="owl-demo" class="owl-carousel">
    <div class="item"><a href="img/right1.png" class="venbox" data-gall="gall1"><img src="img/right1.png"></a>
      <div class="Description">
        <h3>Team work</h3>
        <p>I'm a description. Click to edit me</p>
      </div>
    </div>
    <div class="item"><a href="img/right2.png" class="venbox" data-gall="gall1" ><img src="img/right2.png"></a>
          <div class="Description">
        <h3>Let us help you promote you</h3>
        <p>I'm a description. Click to edit me</p>
      </div>
    </div>
    <div class="item"><a href="img/right3.png" class="venbox" data-gall="gall1" ><img src="img/right3.png"></a>
         <div class="Description">
        <h3>Let us help you promote you</h3>
        <p>I'm a description. Click to edit me</p>
      </div>
    </div>
       
    <div class="item"><a href="img/right4.png" class="venbox" data-gall="gall1" ><img src="img/right4.png"></a>
          <div class="Description">
        <h3>Let us help you promote you</h3>
        <p>I'm a description. Click to edit me</p>
      </div>
     </div>
   </div>
</div>
     </div>
    </div>
  
  <div class="Middle_upper_half_step row">
     <div class="col-sm-4">
       <div class="box bgcolor news padding-bottom-50 margin-top_10">
        <h5>We are here to help!</h5>
        <div class="line"></div>
         <div class="Article_one paddimg_lrft">
          <div class="float-left width-94 center-md-992">
            <img src="img/wz1.jpg" alt="" title=""/>
           </div>
          <div class="float-right center-md-992 width-100 margin-top-3">
           <h4>News 1</h4>
          <p>I'm a paragraph. Click here to add your own text and edit me</p>
          <span>READ MORE ></span>
          </div>
          <div class="clar"></div>
         
         </div><!--/.Article_one-->
         <div class="Article_one">
          <div class="float-left width-94">
            <img src="img/wz2.jpg" alt="" title=""/>
           </div>
          <div class="float-right width-100 center-md-992 margin-top-3">
           <h4>News 1</h4>
          <p>I'm a paragraph. Click here to add your own text and edit me</p>
          <span>READ MORE ></span>
          </div>
          <div class="clar"></div>
         
         </div><!--/.Article_one-->
        <div class="Article_one">
          <div class="float-left width-94">
            <img src="img/wz3.jpg" alt="" title=""/>
           </div>
          <div class="float-right width-100 center-md-992 margin-top-3">
           <h4>News 1</h4>
          <p>I'm a paragraph. Click here to add your own text and edit me</p>
          <span>READ MORE ></span>
          </div>
          <div class="clar"></div>
         
         </div><!--/.Article_one-->
       </div><!--/.box-->
     </div>
     <div class="col-sm-8">
             <div class="box box_midd-rig  news row margin-top_10"> 
              <div class="col-sm-6">       
               <div class="Article_one hover">
                <div class="float-left width-94 backgrund">
                  <img id="width-50" src="img/sanjiax.00_png_srz" alt="" title=""/>
                 </div>
                <div class="float-right width-100  margin-top-10  margin-right-25">
                 <h4>Videos</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me</p>
                <span>READ MORE ></span>
                </div>
                <div class="clar"></div>
               
               </div><!--/.Article_one-->
               </div>
              <div class="col-sm-6">
                <div class="Article_one hover">
                <div class="float-left width-94 backgrund">
                  <img id="width_50" src="img/doppso.00_png_srb" alt="" title=""/>
                 </div>
                <div class="float-right width-100 margin-top-10 margin-right-25">
                 <h4>FAQ</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me</p>
                <span>READ MORE ></span>
                </div>
                <div class="clar"></div>
               
               </div><!--/.Article_one-->
              </div>
               <div class="clar"></div>
               <div class="line"></div>
       </div><!--/.box-->
       <div class="box box_midd-ght news row padding-bottom-50">
         
              <div class="col-sm-4">       
               <div class="Article_one hover margin-top-0">
                
                  <img src="img/titi1.00_wix_mp_srz" alt="" title=""/>
                 
                <div class="float-left width_100 padding-left-15 margin-top-3">
                 <h4>Videos</h4>
                <p>I'm a paragraph. Click here to add your own text and edit meI'm a paragraph. Click here to add your own text and edit me</p>
                <span>READ MORE ></span>
                </div>
                <div class="clar"></div>
               
               </div><!--/.Article_one-->
               </div>
              <div class="col-sm-4">
                <div class="Article_one hover margin-top-0">
                
                  <img  src="img/tit2.00_wix_mp_srz" alt="" title=""/>
                 
                <div class="float-left width_100 padding-left-15 margin-top-3">
                 <h4>FAQ</h4>
                <p>I'm a paragraph. Click here to add your own text and edit meI'm a paragraph. Click here to add your own text and edit me</p>
                <span>READ MORE ></span>
                </div>
                <div class="clar"></div>
               
               </div><!--/.Article_one-->
              </div>
              <div class="col-sm-4">
                <div class="Article_one hover margin-top-0">
                
                  <img src="img/tit3.00_wix_mp_srz" alt="" title=""/>
                 
                <div class="float-right width_100 padding-left-15 margin-top-3">
                 <h4>FAQ</h4>
                <p>I'm a paragraph. Click here to add your own text and edit meI'm a paragraph. Click here to add your own text and edit me</p>
                <span>READ MORE ></span>
                </div>
                <div class="clar"></div>
               
               </div><!--/.Article_one-->
              </div>
               <div class="clar"></div>
       </div><!--/.BOX-->
     </div>
    </div><!--/.Middle_upper_half_step-->
       <div class="box_Clients">
        <div class="title">Our Clients
</div>
          <div class="centent_box">
            <div class="row">
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="0" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center atr" src="img/11.png" alt="" title="">
              </div>
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="1" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center att" src="img/22.png" alt="" title="">
              </div>
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="2" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center aty" src="img/33.png" alt="" title="">
              </div>
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="3" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center atu" src="img/44.png" alt="" title="">
             </div>
            </div>
            <div class="row">
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="4" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center ati" src="img/55.png" alt="" title="">
              </div>
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="5" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center ato" src="img/66.png" alt="" title="">
              </div>
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="6" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center atp" src="img/77.png" alt="" title="">
              </div>
              <div class=" col-xs-3 col-sm-3 col-md-3">
                <a id="7" href="#"><strong>I'm</strong> a paragraph. Click here to add your own text and edit me</a>
                  <img class="img-responsive center ata" src="img/88.png" alt="" title="">
              </div>
            </div>
          </div><!--/.centent-->
       </div>
    </div><!--/.container-->
 </div><!--/.centent-->
 <!--center end-->
 
 <!--footer-->
 <div class="footer_bg">
<div class="container">
  <div class="footer row">
    <div class=" col-xs-6 col-sm-3">
      <div class="foot_mitin">
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
      </div>
    </div>
    <div class=" col-xs-6 col-sm-3">
      <div class="foot_mitin">
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
     
      </div>
    </div>
    <div class=" col-xs-6 col-sm-3">
      <div class="foot_mitin">
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
      </div>
    </div>
    <div class=" col-xs-6 col-sm-3">
      <div class="foot_mitin">
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
        <a href="#">Meet The Team</a>
      </div>
    </div>
       <div class="clar"></div>
      <div class="opter">© 2023 by Coach.Corp. Proudly created with Wix.com</div>
  </div><!--/.footer-->
</div><!--/.container-->
 </div><!--/.footer_bg-->
  <!--footer-->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 --> 
<script src="js/jquery.js"></script> 

<!-- 最新的 Bootstrap 核心 JavaScript 文件 --> 
<script src="js/bootstrap.min.js"></script> 

<!--响应式滚动图片 JavaScript 文件--> 
<script src="owl-carousel/owl.carousel.min.js"></script> 
<script src="owl-carousel/venobox.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
